@* que modelo recibira *@
@model List<Beer>

<h1>Cervezas</h1>


<P>
	@* asp-action son metodos propios de c# *@
	<a asp-action="Create">Crear</a>
</P>

<table class="table">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Marca</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var beer in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(m => beer.Name)
				</td>
				<td>
					@Html.DisplayFor(m => beer.Brand.Name)
				</td>
				<td>
				</td>
			</tr>
		}
	</tbody>
</table>